{% load widget_tweaks %}
{% load static %}
{% include 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5" style="color:#45529e;font-weight: 700;font-size: 30px;">Login</h5>
            <form method="post">
              {% csrf_token %}
              <div class="form-floating mb-3">
                <input type="email"  class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              {% if messages %}
                    <ul class="messages text-center mb-2 list-unstyled font-weight-bold">
                        {% for message in messages %}
                            <li class="text-danger"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
              {% endif %}
              <div class="d-grid">
                <button class="btn btn-login text-uppercase fw-bold" style="background-color: #45529e !important" type="submit">Sign in</button>
              </div>
            </form>
              <div>
                  <span>Don't have an account?</span>
                  <button class="btn-transparent" style="color: #45529e"  onclick="window.location.href='registration'"><b>Register</b></button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>